<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--- title -->
    <title>Login Page</title>
    <!--- customer css file -->

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


    <div class="container">
        <form class="login" action="" method="POST">

            {% csrf_token %}

            <h2>Login Here</h2>
            <div class="inputBox">
                <label for="">Username</label>
                <input type="text" placeholder="Enter Username" name="username" id="username">
            </div>
            <div class="inputBox">
                <label for="">Password</label>
                <input type="text" placeholder="Password" name="pass" id="password">
            </div>

            <div class="button">
                <input type="submit" value="Log In">
            </div>

            <a href="{% url 'signup' %}" class="reg">Create a account</a>
        </form>
    </div>
    
</body>
</html>